In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('dataset.csv')

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /home/alihere/my-jupyter-env/lib/python3.12/site-packages (2.1.3)

In [ ]:
# Loan_ID : Unique Loan ID

# Gender : Male/ Female

# Married : Applicant married (Y/N)

# Dependents : Number of dependents

# Education : Applicant Education (Graduate/ Under Graduate)

# Self_Employed : Self employed (Y/N)

# ApplicantIncome : Applicant income

# CoapplicantIncome : Coapplicant income

# LoanAmount : Loan amount in thousands of dollars

# Loan_Amount_Term : Term of loan in months

# Credit_History : Credit history meets guidelines yes or no

# Property_Area : Urban/ Semi Urban/ Rural

# Loan_Status : Loan approved (Y/N) this is the target variable

In [ ]:
data.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y

In [ ]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
data.shape

(614, 13)

In [ ]:
print("Number of rows", data.shape[0])
print("Number of column", data.shape[1])

Number of rows 614
Number of column 13

# get infor of data

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
data.isnull()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,False,False,False,False,False,False,False,False,False,False,False,False,False
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
data.isnull().sum()
#fiding no of null value conainter each column

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [ ]:
data.isnull().sum()*100/len(data)
# %tage of missing value in each
# and will drop the row  whose mising value less than 5% and fill the row whose missing value is more than 5%

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

# Handling missing value

In [ ]:
data = data.drop('Loan_ID',axis=1)
#removing laonId col.no need
#  avg = data['loanAmount'].astype('float').mean()
# data['loanAmount'] = data['loanAmount'].replace(np.nan, avg) if we want replace with avg.value.

In [ ]:
data.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y

In [ ]:
columns = ['Gender', 'Dependents', 'LoanAmount', 'Loan_Amount_Term']

In [ ]:
data = data.dropna(subset=columns)
#by defualt axis =0 means it remove row , and assigning it no need to write inplace=true
#drop for droping any sepcified row and column and dromna for droping null row or columm.

In [ ]:
data.isnull().sum()*100/len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        5.424955
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [ ]:
data['Self_Employed'].value_counts().idxmax()
#find more frequent value of selfEmpy and will fill this in missing value

'No'

In [ ]:
data['Self_Employed'].replace(np.nan, 'No', inplace = True)
#if you write inplace true then no need to assign it in data_creditHistory again because inplace do modifiction in original df
# replace all null value row of creditHistory com with No most freq value

/tmp/ipykernel_34790/3554829208.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Self_Employed'].replace(np.nan, 'No', inplace = True)

In [ ]:
data.isnull().sum()*100/len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        0.000000
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [ ]:
data['Credit_History'].unique()

array([ 1.,  0., nan])

In [ ]:
data['Credit_History'].value_counts().idxmax()

np.float64(1.0)

In [ ]:
data['Credit_History'].replace(np.nan, 1.0 , inplace = True)

/tmp/ipykernel_34790/639313368.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Credit_History'].replace(np.nan, 1.0 , inplace = True)

In [ ]:
# @title Default title text
data.isnull().sum()*100/len(data)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

# Handling categorial Columns

In [ ]:
data.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
8,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
265,Male,No,0,Graduate,No,4095,3447.0,151.0,360.0,1.0,Rural,Y
476,Male,Yes,2,Graduate,No,6700,1750.0,230.0,300.0,1.0,Semiurban,Y
438,Male,No,0,Graduate,Yes,10416,0.0,187.0,360.0,0.0,Urban,N
510,Male,No,0,Not Graduate,No,3598,1287.0,100.0,360.0,1.0,Rural,N

In [ ]:
# replacing 3+ with 3 in dependency
data['Dependents'].replace(to_replace="3+", value="4", inplace = True)

/tmp/ipykernel_34790/3521704311.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Dependents'].replace(to_replace="3+", value="4", inplace = True)

In [ ]:
data['Dependents'].unique()

array(['1', '0', '2', '4'], dtype=object)

In [ ]:
# As Machine understand numerical value so now convert all caterogical value, gender, marriedm eduction  self employee etc in numerical value

This line of code is converting the Gender column in the data DataFrame from text labels ("Male" and "Female")
to numeric values (1 and 0) using .map() fun.

In [ ]:
data['Gender'] = data['Gender'].map({'Male':1, 'Female':0}).astype('int')

In [ ]:
data['Gender'].unique()

array([1, 0])

In [ ]:
data.head(4)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,1,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,1,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,1,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
data['Married'] = data['Married'].map({'Yes':1, 'No':0}).astype('int')
data['Education'] = data['Education'].map({'Graduate':1, 'Not Graduate':0}).astype('int')
data['Self_Employed'] = data['Self_Employed'].map({'Yes':1, 'No':0}).astype('int')
data['Property_Area'] = data['Property_Area'].map({'Urban':1, 'Semiurban':2, 'Rural':0}).astype('int')
data['Loan_Status'] = data['Loan_Status'].map({'Y':1, 'N':0}).astype('int')

In [ ]:
data.head(23)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1
6,1,1,0,0,0,2333,1516.0,95.0,360.0,1.0,1,1
7,1,1,4,1,0,3036,2504.0,158.0,360.0,0.0,2,0
8,1,1,2,1,0,4006,1526.0,168.0,360.0,1.0,1,1
9,1,1,1,1,0,12841,10968.0,349.0,360.0,1.0,2,0
10,1,1,2,1,0,3200,700.0,70.0,360.0,1.0,1,1
11,1,1,2,1,0,2500,1840.0,109.0,360.0,1.0,1,1
12,1,1,2,1,0,3073,8106.0,200.0,360.0,1.0,1,1
13,1,0,0,1,0,1853,2840.0,114.0,360.0,1.0,0,0
14,1,1,2,1,0,1299,1086.0,17.0,120.0,1.0,1,1
15,1,0,0,1,0,4950,0.0,125.0,360.0,1.0,1,1
16,1,0,1,0,0,3596,0.0,100.0,240.0,1.0,1,1
17,0,0,0,1,0,3510,0.0,76.0,360.0,0.0,1,0
18,1,1,0,0,0,4887,0.0,133.0,360.0,1.0,0,0
20,1,1,0,0,0,7660,0.0,104.0,360.0,0.0,1,0
21,1,1,1,1,0,5955,5625.0,315.0,360.0,1.0,1,1
22,1,1,0,0,0,2600,1911.0,116.0,360.0,0.0,2,0
24,1,1,1,1,0,3717,2925.0,151.0,360.0,1.0,2,0
25,1,1,0,1,1,9560,0.0,191.0,360.0,1.0,2,1

#  Store Feature Matrix In X And Response (Target) In Vector y

In [ ]:
X = data.drop('Loan_Status', axis=1)

In [ ]:
y = data['Loan_Status']

In [ ]:
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1

In [ ]:
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 553, dtype: int64

#  Feature Scaling

#Feature scaling is essential in machine learning because it ensures that all features (data columns) are on a similar scale, which improves model accuracy and efficiency. so will apply features scaling only to those cols whose value vastly different

In [ ]:
cols = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']

In [ ]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/alihere/my-jupyter-env/lib/python3.12/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /home/alihere/my-jupyter-env/lib/python3.12/site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in /home/alihere/my-jupyter-env/lib/python3.12/site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /home/alihere/my-jupyter-env/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/alihere/my-jupyter-env/lib/python3.12/site-packages (from scikit-learn) (3.5.0)

In [ ]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()
X[cols] = st.fit_transform(X[cols])

#importing standardscaler class from stlearn lib. and making instance st of class and performing fearute scaling in columns

In [ ]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,-0.128694,-0.049699,-0.214368,0.279961,1.0,0
2,1,1,0,1,1,-0.394296,-0.545638,-0.952675,0.279961,1.0,1
3,1,1,0,0,0,-0.464262,0.229842,-0.309634,0.279961,1.0,1
4,1,0,0,1,0,0.109057,-0.545638,-0.059562,0.279961,1.0,1
5,1,1,2,1,1,0.011239,0.834309,1.440866,0.279961,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,-0.411075,-0.545638,-0.893134,0.279961,1.0,0
610,1,1,4,1,0,-0.208727,-0.545638,-1.262287,-2.468292,1.0,0
611,1,1,1,1,0,0.456706,-0.466709,1.274152,0.279961,1.0,1
612,1,1,2,1,0,0.374659,-0.545638,0.488213,0.279961,1.0,1
613,0,0,0,1,1,-0.128694,-0.545638,-0.154828,0.279961,0.0,2

In [ ]:
y.value_counts()
#as we have more approved value than no approved then we have to balnce data by oversampling

Loan_Status
1    389
0    164
Name: count, dtype: int64

#  Splitting The Dataset Into The Training Set And Test Set & Perform oversampling to balance dataset

In [ ]:
# Import the necessary libraries
from sklearn.model_selection import train_test_split  # For splitting the data into training and testing sets
from sklearn.model_selection import cross_val_score  # For performing cross-validation
from sklearn.model_selection import RandomizedSearchCV #for hypterparameter tuning
from sklearn.metrics import accuracy_score  # For evaluating model accuracy
import numpy as np  # For numerical operation
from imblearn.over_sampling import SMOTENC

In [ ]:
def evaluate_model(model):
    X_train, X_test, y_train, y_test  = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Step 2: Specify which features in X are categorical by their column indices
    categorical_features_indices = [0, 1, 2, 3, 4, 9, 10]
    # Step 3: Use SMOTENC to balance the training data
    smote = SMOTENC(categorical_features=categorical_features_indices, random_state=42)
    X_train_new, y_train_new = smote.fit_resample(X_train, y_train)

    print(X_train_new.shape)
    model.fit(X_train_new, y_train_new)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    cross_val = cross_val_score(model, X, y, cv=5)
    avg_cross_val = np.mean(cross_val)
    print(f"{model.__class__.__name__} - Accuarcy : {accuracy: .2f} , Cross-Val-Score: {avg_cross_val: .2f}")
    return avg_cross_val

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

In [ ]:
models = {
    LogisticRegression(),
    svm.SVC(),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    GradientBoostingClassifier(),
}

In [ ]:
model_score = {model.__class__.__name__:evaluate_model(model) for model in models}

(624, 11)
SVC - Accuarcy :  0.68 , Cross-Val-Score:  0.79
(624, 11)
LogisticRegression - Accuarcy :  0.70 , Cross-Val-Score:  0.80
(624, 11)
GradientBoostingClassifier - Accuarcy :  0.69 , Cross-Val-Score:  0.77
(624, 11)
DecisionTreeClassifier - Accuarcy :  0.59 , Cross-Val-Score:  0.72
(624, 11)
RandomForestClassifier - Accuarcy :  0.68 , Cross-Val-Score:  0.78

## HyperParameter Tuning

In [ ]:
def tune_model(model, param_grid):
    tuner = RandomizedSearchCV(model, param_grid, cv = 5, n_iter =20, verbose = True, random_state = 42)
    tuner.fit(X, y)
    print(f"Best Score for {model.__class__.__name__}: {tuner.best_score_:.2f}")
    print(f"Best Parameter for {model.__class__.__name__}: {tuner.best_params_}")
    return tuner.best_estimator_

In [ ]:
log_reg_grid = {'C': np.logspace(-4, 4, 20), "solver": ["liblinear"]}
svc_grid = {'C': [0.25, 0.50, 0.75, 1], "kernel": ['linear']}

rf_grid = {
    'n_estimators': np.arange(10, 1000, 10),
    'max_features': ['log2', 'sqrt'],
    'max_depth': [None, 3, 5, 10, 20, 30],
    'min_samples_split': [2, 5, 20, 50, 100],
    'min_samples_leaf': [1, 2, 5, 10]
}

In [ ]:
best_log_reg = tune_model(LogisticRegression(), log_reg_grid)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
Best Score for LogisticRegression: 0.80
Best Parameter for LogisticRegression: {'solver': 'liblinear', 'C': np.float64(0.23357214690901212)}

In [ ]:
best_svc_reg = tune_model(svm.SVC(), svc_grid)

/home/alihere/my-jupyter-env/lib/python3.12/site-packages/sklearn/model_selection/_search.py:320: UserWarning: The total space of parameters 4 is smaller than n_iter=20. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 5 folds for each of 4 candidates, totalling 20 fits
Best Score for SVC: 0.81
Best Parameter for SVC: {'kernel': 'linear', 'C': 0.25}

In [ ]:
best_rf = tune_model(RandomForestClassifier(), rf_grid)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
Best Score for RandomForestClassifier: 0.81
Best Parameter for RandomForestClassifier: {'n_estimators': np.int64(420), 'min_samples_split': 50, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 30}

In [ ]:
final_model= best_rf

In [ ]:
import joblib

In [ ]:
joblib.dump(final_model, 'loan_status_predictor_new_pkl')

['loan_status_predictor_new_pkl']

In [ ]:
# Prediction System

sample_data = pd.DataFrame({
    'Gender': [1],
    'Married': [1],
    'Dependents': [2],
    'Education': [0],
    'Self_Employed': [0],
    'ApplicantIncome': [10],
    'CoapplicantIncome': [0.0],
    'LoanAmount': [150999],
    'Loan_Amount_Term': [180],
    'Credit_History': [1],
    'Property_Area': [1]
})

In [ ]:
sample_data[cols] = st.transform(sample_data[cols])
loaded_model = joblib.load('loan_status_predictor_new_pkl')
prediction = loaded_model.predict(sample_data)

result = "Loan Approved" if prediction[0] == 1 else "Loan Not Approved"
print(f"\nPrediction Result: {result}")

Prediction Result: Loan Approved

In [ ]:
#joblib.dump(st, 'vector') #not dumping as we already done previosuly